@{
    ViewBag.Title = "About";
}
<div style="width: 100%;height: 10px;"></div>

<div class="container">
    <div class="row col-lg-offset-2">
        <img src="~/Content/images/glrimg2.jpg" />
    </div>
   
</div>
<div class="container">
    <div class="row col-lg-9 text-danger">
        <h2><b>About Cryptology</b></h2>
        <div style="width: 100%;height: 10px;"></div>
        <div class="jumbotron">
            <p>
                Cryptology is a completely independent publication covering cryptocurrency, the blockchain, decentralized applications, the internet of finance and the next gen web. We offer the latest news, prices, breakthroughs and analysis with emphasis on expert opinion and commentary from the digital currency community.

                The world of digital currencies flourishes with the greater fervor with each passing day. With an increasing number of businesses, entrepreneurs, startups and consumers adopting this technology, we are proud to spend every day at work and play increasing awareness of the many intricacies and advantages offered by these innovations.

                About one thing we are certain: it is increasingly important to educate oneself in and be aware of new financial and technological innovations. Cryptology welcomes you.

                we have become a known leader in the cryptocurrency information market.
            </p>
            <hr />
            <p>
                <span class="email-owner">Manager  </span><span class="email-address"><a href="#">manager@cryptology.com</a></span>
            </p>
            <p>
                <span class="email-owner">Editor  </span><span class="email-address"><a href="#">editor@cryptology.com</a></span>
            </p>
        </div>
            </div>
    <div class="row col-lg-3">
        <div class="clr"></div>
        <h2 class="text-success"><span>Crypto</span> Currencies</h2>
        <div style="width: 100%;height: 10px;"></div>
        <div class="list-group">
            <ul >
                <li class="list-group-item"><a href="#">Bitcoin</a></li>
                <li class="list-group-item"><a href="#">Litecoin</a></li>
                <li class="list-group-item"><a href="#">Ripple</a></li>
                <li class="list-group-item"><a href="#">Dash</a></li>
                <li class="list-group-item"><a href="#">Monero</a></li>
                <li class="list-group-item"><a href="#">NEM</a></li>
                <li class="list-group-item"><a href="#">Nxt</a></li>
                <li class="list-group-item"><a href="#">Namecoin</a></li>
                <li class="list-group-item"><a href="#">Peercoin</a></li>
                <li class="list-group-item"><a href="#">Primecoin</a></li>
                <li class="list-group-item"><a href="#">Potcoin</a></li>
                <li class="list-group-item"><a href="#">Nubits</a></li>
                <li class="list-group-item"><a href="#">Omni Layer</a></li>
                <li class="list-group-item"><a href="#">Coinye</a></li>
                <li class="list-group-item"><a href="#">Titcoin</a></li>
                <li class="list-group-item"><a href="#">IOTA</a></li>
                <li class="list-group-item"><a href="#">Ubiq</a></li>
                <li class="list-group-item"><a href="#">Zcash</a></li>
                <li class="list-group-item"><a href="#">Emercoin</a></li>
                <li class="list-group-item"><a href="#">Dogecoin</a></li>
            </ul>
        </div>
    </div>
    </div>
<hr />
<div class="container">
    <div class="row">
        <h2><b>Our Team</b></h2>
        <div class="jumbotron">
            <p>
                We are privileged enough to work with the best and brightest in Bitcoin.
                Our management team is global, as is our perspective,
                and our team members are stationed all over the world We maintain this truth,
                our prerogative, our purpose, our life blood, is the art of truth-telling.
            </p>
        </div>
    </div>

</div>
